<a href="https://colab.research.google.com/github/artophili/hello-world/blob/TopicModelling/TopicModelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import os
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
#data = ['We are good', 'We are becoming better', 'We will be great']

In [4]:
#Instantiate count vectorizer
'''countvec = CountVectorizer()
cdf = countvec.fit_transform(data)
bow = pd.DataFrame(cdf.toarray(), columns = countvec.get_feature_names())
bow'''

'countvec = CountVectorizer()\ncdf = countvec.fit_transform(data)\nbow = pd.DataFrame(cdf.toarray(), columns = countvec.get_feature_names())\nbow'

In [7]:
data = pd.read_csv('D1_multi_word_product_descriptions.csv', encoding='ISO-8859-1')

In [9]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
95,536378,22352,LUNCH BOX WITH CUTLERY RETROSPOT,6,12/1/2010 9:37,2.55,14688.0,United Kingdom
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,12/1/2010 9:37,0.42,14688.0,United Kingdom
97,536378,21975,PACK OF 60 DINOSAUR CAKE CASES,24,12/1/2010 9:37,0.55,14688.0,United Kingdom
98,536378,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,12/1/2010 9:37,0.55,14688.0,United Kingdom
99,536378,84991,60 TEATIME FAIRY CAKE CASES,24,12/1/2010 9:37,0.55,14688.0,United Kingdom

In [ ]:
#selecting required columns 
data = data[['Description']]

In [8]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
95,536378,22352,LUNCH BOX WITH CUTLERY RETROSPOT,6,12/1/2010 9:37,2.55,14688.0,United Kingdom
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,12/1/2010 9:37,0.42,14688.0,United Kingdom
97,536378,21975,PACK OF 60 DINOSAUR CAKE CASES,24,12/1/2010 9:37,0.55,14688.0,United Kingdom
98,536378,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,12/1/2010 9:37,0.55,14688.0,United Kingdom
99,536378,84991,60 TEATIME FAIRY CAKE CASES,24,12/1/2010 9:37,0.55,14688.0,United Kingdom

In [10]:
#checking null values
print(data.isnull().sum())

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [11]:
count_vector = CountVectorizer()
training_data = data['Description'].tolist()

In [12]:
training_data

['WHITE HANGING HEART T-LIGHT HOLDER',
 'WHITE METAL LANTERN',
 'CREAM CUPID HEARTS COAT HANGER',
 'KNITTED UNION FLAG HOT WATER BOTTLE',
 'RED WOOLLY HOTTIE WHITE HEART.',
 'SET 7 BABUSHKA NESTING BOXES',
 'GLASS STAR FROSTED T-LIGHT HOLDER',
 'HAND WARMER UNION JACK',
 'HAND WARMER RED POLKA DOT',
 'ASSORTED COLOUR BIRD ORNAMENT',
 "POPPY'S PLAYHOUSE BEDROOM ",
 "POPPY'S PLAYHOUSE KITCHEN",
 'FELTCRAFT PRINCESS CHARLOTTE DOLL',
 'IVORY KNITTED MUG COSY ',
 'BOX OF 6 ASSORTED COLOUR TEASPOONS',
 'BOX OF VINTAGE JIGSAW BLOCKS ',
 'BOX OF VINTAGE ALPHABET BLOCKS',
 'HOME BUILDING BLOCK WORD',
 'LOVE BUILDING BLOCK WORD',
 'RECIPE BOX WITH METAL HEART',
 'DOORMAT NEW ENGLAND',
 'JAM MAKING SET WITH JARS',
 'RED COAT RACK PARIS FASHION',
 'YELLOW COAT RACK PARIS FASHION',
 'BLUE COAT RACK PARIS FASHION',
 'BATH BUILDING BLOCK WORD',
 'ALARM CLOCK BAKELIKE PINK',
 'ALARM CLOCK BAKELIKE RED ',
 'ALARM CLOCK BAKELIKE GREEN',
 'PANDA AND BUNNIES STICKER SHEET',
 'STARS GIFT TAPE ',
 'INFLATABLE POLITICAL GLOBE ',
 'VINTAGE HEADS AND TAILS CARD GAME ',
 'SET/2 RED RETROSPOT TEA TOWELS ',
 'ROUND SNACK BOXES SET OF4 WOODLAND ',
 'SPACEBOY LUNCH BOX ',
 'LUNCH BOX I LOVE LONDON',
 'CIRCUS PARADE LUNCH BOX ',
 'CHARLOTTE BAG DOLLY GIRL DESIGN',
 'RED TOADSTOOL LED NIGHT LIGHT',
 ' SET 2 TEA TOWELS I LOVE LONDON ',
 'VINTAGE SEASIDE JIGSAW PUZZLES',
 'MINI JIGSAW CIRCUS PARADE ',
 'MINI JIGSAW SPACEBOY',
 'MINI PAINT SET VINTAGE ',
 'POSTAGE',
 "PAPER CHAIN KIT 50'S CHRISTMAS ",
 'HAND WARMER RED POLKA DOT',
 'HAND WARMER UNION JACK',
 'WHITE HANGING HEART T-LIGHT HOLDER',
 'WHITE METAL LANTERN',
 'CREAM CUPID HEARTS COAT HANGER',
 'EDWARDIAN PARASOL RED',
 'RETRO COFFEE MUGS ASSORTED',
 'SAVE THE PLANET MUG',
 'VINTAGE BILLBOARD DRINK ME MUG',
 'VINTAGE BILLBOARD LOVE/HATE MUG',
 'WOOD 2 DRAWER CABINET WHITE FINISH',
 'WOOD S/3 CABINET ANT WHITE FINISH',
 'WOODEN PICTURE FRAME WHITE FINISH',
 'WOODEN FRAME ANTIQUE WHITE ',
 'KNITTED UNION FLAG HOT WATER BOTTLE',
 'RED WOOLLY HOTTIE WHITE HEART.',
 'SET 7 BABUSHKA NESTING BOXES',
 'GLASS STAR FROSTED T-LIGHT HOLDER',
 'VICTORIAN SEWING BOX LARGE',
 'WHITE HANGING HEART T-LIGHT HOLDER',
 'WHITE METAL LANTERN',
 'CREAM CUPID HEARTS COAT HANGER',
 'EDWARDIAN PARASOL RED',
 'RETRO COFFEE MUGS ASSORTED',
 'SAVE THE PLANET MUG',
 'VINTAGE BILLBOARD DRINK ME MUG',
 'VINTAGE BILLBOARD LOVE/HATE MUG',
 'WOOD 2 DRAWER CABINET WHITE FINISH',
 'WOOD S/3 CABINET ANT WHITE FINISH',
 'WOODEN PICTURE FRAME WHITE FINISH',
 'WOODEN FRAME ANTIQUE WHITE ',
 'KNITTED UNION FLAG HOT WATER BOTTLE',
 'RED WOOLLY HOTTIE WHITE HEART.',
 'SET 7 BABUSHKA NESTING BOXES',
 'GLASS STAR FROSTED T-LIGHT HOLDER',
 'HOT WATER BOTTLE TEA AND SYMPATHY',
 'RED HANGING HEART T-LIGHT HOLDER',
 'HAND WARMER RED POLKA DOT',
 'HAND WARMER UNION JACK',
 'JUMBO BAG PINK POLKADOT',
 'JUMBO BAG BAROQUE BLACK WHITE',
 'JUMBO BAG CHARLIE AND LOLA TOYS',
 'STRAWBERRY CHARLOTTE BAG',
 'RED 3 PIECE RETROSPOT CUTLERY SET',
 'BLUE 3 PIECE POLKADOT CUTLERY SET',
 'SET/6 RED SPOTTY PAPER PLATES',
 'LUNCH BAG RED RETROSPOT',
 'STRAWBERRY LUNCH BOX WITH CUTLERY',
 'LUNCH BOX WITH CUTLERY RETROSPOT ',
 'PACK OF 72 RETROSPOT CAKE CASES',
 'PACK OF 60 DINOSAUR CAKE CASES',
 'PACK OF 60 PINK PAISLEY CAKE CASES',
 '60 TEATIME FAIRY CAKE CASES']

In [14]:
cdf = count_vector.fit_transform(training_data)
bow = pd.DataFrame(cdf.toarray(), columns = count_vector.get_feature_names())
bow

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,50,60,72,alarm,alphabet,and,ant,antique,assorted,babushka,...,warmer,water,white,with,wood,wooden,woodland,woolly,word,yellow
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
96,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Warning: Total number of columns (169) exceeds max_columns (20) limiting to first (20) columns.

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(training_data)

In [30]:
feature_name = vectorizer.get_feature_names_out()

In [18]:
print(X.shape)

(100, 169)

In [20]:
data2 = pd.read_csv('D2_single_word_product_descriptions.csv',encoding='ISO-8859-1')

In [21]:
data2

    Unnamed: 0 product_category_name_english
0            0                        health
1            1                     computers
2            2                          auto
3            3                           bed
4            4                     furniture
..         ...                           ...
66          66                       flowers
67          67                          arts
68          68                       diapers
69          69                       fashion
70          70                      security

[71 rows x 2 columns]

In [28]:
data2 = data2.rename(columns={'Unnamed: 0':'documents','product_category_name_english':'categories'})

In [29]:
data2

    documents categories
0           0     health
1           1  computers
2           2       auto
3           3        bed
4           4  furniture
..        ...        ...
66         66    flowers
67         67       arts
68         68    diapers
69         69    fashion
70         70   security

[71 rows x 2 columns]

In [33]:
#importing all the libraries
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import numpy as np

In [34]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(feature_name)

In [36]:
print('Number of unique words in the dictionary :',len(tokenizer.word_index))
print('Dictionary is: ',tokenizer.word_index)

Number of unique words in the dictionary : 169
Dictionary is:  {'50': 1, '60': 2, '72': 3, 'alarm': 4, 'alphabet': 5, 'and': 6, 'ant': 7, 'antique': 8, 'assorted': 9, 'babushka': 10, 'bag': 11, 'bakelike': 12, 'baroque': 13, 'bath': 14, 'bedroom': 15, 'billboard': 16, 'bird': 17, 'black': 18, 'block': 19, 'blocks': 20, 'blue': 21, 'bottle': 22, 'box': 23, 'boxes': 24, 'building': 25, 'bunnies': 26, 'cabinet': 27, 'cake': 28, 'card': 29, 'cases': 30, 'chain': 31, 'charlie': 32, 'charlotte': 33, 'christmas': 34, 'circus': 35, 'clock': 36, 'coat': 37, 'coffee': 38, 'colour': 39, 'cosy': 40, 'cream': 41, 'cupid': 42, 'cutlery': 43, 'design': 44, 'dinosaur': 45, 'doll': 46, 'dolly': 47, 'doormat': 48, 'dot': 49, 'drawer': 50, 'drink': 51, 'edwardian': 52, 'england': 53, 'fairy': 54, 'fashion': 55, 'feltcraft': 56, 'finish': 57, 'flag': 58, 'frame': 59, 'frosted': 60, 'game': 61, 'gift': 62, 'girl': 63, 'glass': 64, 'globe': 65, 'green': 66, 'hand': 67, 'hanger': 68, 'hanging': 69, 'hate': 70, 'heads': 71, 'heart': 72, 'hearts': 73, 'holder': 74, 'home': 75, 'hot': 76, 'hottie': 77, 'inflatable': 78, 'ivory': 79, 'jack': 80, 'jam': 81, 'jars': 82, 'jigsaw': 83, 'jumbo': 84, 'kit': 85, 'kitchen': 86, 'knitted': 87, 'lantern': 88, 'large': 89, 'led': 90, 'light': 91, 'lola': 92, 'london': 93, 'love': 94, 'lunch': 95, 'making': 96, 'me': 97, 'metal': 98, 'mini': 99, 'mug': 100, 'mugs': 101, 'nesting': 102, 'new': 103, 'night': 104, 'of': 105, 'of4': 106, 'ornament': 107, 'pack': 108, 'paint': 109, 'paisley': 110, 'panda': 111, 'paper': 112, 'parade': 113, 'parasol': 114, 'paris': 115, 'picture': 116, 'piece': 117, 'pink': 118, 'planet': 119, 'plates': 120, 'playhouse': 121, 'political': 122, 'polka': 123, 'polkadot': 124, 'poppy': 125, 'postage': 126, 'princess': 127, 'puzzles': 128, 'rack': 129, 'recipe': 130, 'red': 131, 'retro': 132, 'retrospot': 133, 'round': 134, 'save': 135, 'seaside': 136, 'set': 137, 'sewing': 138, 'sheet': 139, 'snack': 140, 'spaceboy': 141, 'spotty': 142, 'star': 143, 'stars': 144, 'sticker': 145, 'strawberry': 146, 'sympathy': 147, 'tails': 148, 'tape': 149, 'tea': 150, 'teaspoons': 151, 'teatime': 152, 'the': 153, 'toadstool': 154, 'towels': 155, 'toys': 156, 'union': 157, 'victorian': 158, 'vintage': 159, 'warmer': 160, 'water': 161, 'white': 162, 'with': 163, 'wood': 164, 'wooden': 165, 'woodland': 166, 'woolly': 167, 'word': 168, 'yellow': 169}

In [37]:
def embedding_for_vocab(filepath, word_index, embedding_dim):
  vocab_size = len(word_index) + 1
  embedding_matrix_vocab = np.zeros((vocab_size, embedding_dim))
  with open(filepath, encoding='utf8') as f:
    for line in f:
      word, *vector = line.split()
      if word in word_index:
        idx = word_index[word]
        embedding_matrix_vocab[idx] = np.array(vector, dtype=np.float32)[:embedding_dim]
  return embedding_matrix_vocab

In [53]:
import os

In [54]:
os.listdir()

['.config',
 'D1_multi_word_product_descriptions.csv',
 'glove.6B.50d.txt',
 'lib32',
 'D2_single_word_product_descriptions.csv',
 '.ipynb_checkpoints',
 'sample_data']

In [57]:
embedding_dim = 50
file = open('glove.6B.50d.txt')
embedding_matrix_vocab = embedding_for_vocab('glove.6B.50d.txt',tokenizer.word_index, embedding_dim)
print("Dense vector for first word is => ", embedding_matrix_vocab[1])

Dense vector for first word is =>  [ 0.068322    0.52139997  1.55200005 -0.39811     0.48985001  0.046963
 -0.28701001 -0.58873999  0.10667     0.11174    -0.30434999 -1.19260001
  0.33348    -0.40424001  0.58542001 -0.46261999  0.055685    0.38657001
 -1.19980001 -0.35008001  0.48348001  0.36454001  0.70622998 -0.13477001
 -0.38920999 -0.71082997  0.10284    -0.55251998 -0.18144     0.082363
  3.40790009  0.31617001  0.27968001  0.69212002  0.56672001 -0.52442002
  0.33511001  0.037048    0.32635     0.11406    -0.24426     0.17825
  1.13499999  0.083921   -0.49632999 -0.096574   -0.62783998 -0.32453001
 -0.20316    -0.036736  ]